@charset "utf-8";
/* CSS Document */
#top{ float:left; margin-top:-300px;}
body{ padding:0; margin:0; background-image:url(../images/huanying.jpg); background-size:100% auto;  text-align:center;}    
#welcome{ margin-top:300px;}
#fontstyle{ font-weight:bold; color:#FFC600;}

